.box1,.box1>image{
    width: 100%;
    margin: 0;
    padding: 0;
}
.box1{
    margin-bottom: 10%;
}
.box2{
    margin: 5%;
    border: 2px solid #ddd;
    position: relative;
    padding: 8%;
    padding-top: 10%;
    padding-bottom: 3%;
}
.box2>.title{
    position: absolute;
    left: 0;
    right: 0;
    top: -6%;
    width: 50%;
    text-align: center;
    transform: translate(50%);
    background: #efeff4;
    padding-top: 2%;
}
.box2>.title>.title1{
    text-indent: 0;
    font-size: 20px;
    color: #494947;
    margin: 0;
}
.box2>.title>.title2{
    text-indent: 0;
    color: #a6a7a8;
    font-size: 14px;
}
.box3>.title1{
    font-size: 20px;
    color: #444;
    margin: 0;
    text-align: center;
    margin-right: 6%;
}
.box3>.title2{
    text-align: center;
    font-size: 14px;
    margin-right: 6%;
    color: #8f8f94;
}
.box3-content{
    margin: 5% 0;
    padding: 5% 0;
    background: #fff;
}
.content-left{
    width: 50%;
    display: inline-block;
    vertical-align: middle;
}
.content-left>image{
    width: 100%;
}
.content-right{
    display: inline-block;
    width: 40%;
    vertical-align: middle;
    margin-left: 8%;
    background: #fff;
}
.content-p1{
    text-indent: 0;
    font-size: 17px;
    color: #2e8ee5;
}
.content-p2{
    text-indent: 0;
    color: #6a6763;
    font-size: 14px;
}
.box3>image{
    width: 100%;
}