.clearfix:after{content: "";height:0;line-height: 0;display:block;visibility: hidden;clear:both;}
.box1,.box1>image,.box3,.box3>image,.box5,.box5>image,.box7,.box7>image{
    width: 100%;
}
.box2{
    padding-top: .426667rem;
    padding-bottom: .826667rem;
    /* padding-left: .96rem; */
}
.box2>.title1{
    font-size: 24px;
    text-align: center;
    color: #4d4d4d;
    margin-top: 20px;
}
.box2>.title2{
    font-size: 14px;
    text-align: center;
    color: #4d4d4d;
    margin-top: 15px;
}
.box2>.ul>view{
    float: left;
    margin-right: 1%;
    width: 30%;
    padding-left: 2%;
    margin-top: 3%;
    margin-bottom: 4%;
}
.box2>.ul>view>image{
    width: 100%;
}
.box4{
    padding: 3% 1%;
}
.box4>.title1{
    font-size: 24px;
    text-align: center;
    color: #4d4d4d;
    margin-top: 20px;
}
.box4>.title2{
    font-size: 14px;
    text-align: center;
    color: #4d4d4d;
    margin-top: 15px;
}
.box4>.ul{
    margin-top: 15px;
}
.box4>.ul>view{
    float: left;
    margin-right: 1%;
    margin-left: 1%;
    width: 23%;
    height: 10%;
    margin-top: 4%;
    margin-bottom: 5%;
}
.box4>.ul>view>image{
    width: 100%;
}
.box6{
    padding-right: 4%;
    padding-top: 15px;
    padding-bottom: 25px;
    padding-left: 4%;
}
.box6>image{
    width: 100%;
}
.box8{
    background: #fff;
    padding: 5%;
}
.box8>.title{
    color: #2a36a2;
    font-size: 15px;
    text-indent: 0;
    text-align: center;
}
.box8>.ul{
    margin-top: 10%;
}
.box8>.ul>view{
    float: left;
    position: relative;
    width: 50%;
}
.box8>.ul>view>image{
    width: 100%;
}
.box8>.ul>view>view{
    position: absolute;
    font-size: 12px;
    bottom: 22%;
    text-align: center;
    width: 100%;
}
.box8>.ul>view>view>.btn1{
    float: left;
    width: 42%;
    color: #fff;
    padding: 2% ;
    background: #0ea2ff;
    border-radius: 4px;
    margin: 0 2%;
}
.box8>.ul>view>view>.btn2{
    float: left;
    width: 42%;
    color: #fff;
    padding: 2%;
    background: #ff592d;
    border-radius: 4px;
    margin: 0 2%;
}
.box9{
    background: #fff;
    padding: 5%;
}
.box9>.title{
    color: #2a36a2;
    font-size: 15px;
    text-indent: 0;
    text-align: center;
    margin-top: 2%;
}
.box9>image{
    width: 100%;
}