RewriteEngine On
RewriteRule ^index.html$ index.php
RewriteRule ^(\w+).html$ index.php?do=$1
RewriteRule ^(\w+)-(\w+)-([^\-\#\%\?\&]*).html$ index.php?do=$1&$2=$3
RewriteRule ^(\w+)-(\w+)-([^\-\#\%\?\&]*)-(\w+)-([^\-\#\%\?\&]*).html$ index.php?do=$1&$2=$3&$4=$5
RewriteRule ^(\w+)-(\w+)-([^\-\#\%\?\&]*)-(\w+)-([^\-\#\%\?\&]*)-(\w+)-([^\-\#\%\?\&]*).html$ index.php?do=$1&$2=$3&$4=$5&$6=$7
RewriteRule ^(\w+)-(\w+)-([^\-\#\%\?\&]*)-(\w+)-([^\-\#\%\?\&]*)-(\w+)-([^\-\#\%\?\&]*)-(\w+)-([^\-\#\%\?\&]*).html$ index.php?do=$1&$2=$3&$4=$5&$6=$7&$8=$9
RewriteRule ^(\w+)-(\w+)-([^\-\#\%\?\&]*)-(\w+)-([^\-\#\%\?\&]*)-(\w+)-([^\-\#\%\?\&]*)-(\w+)-([^\-\#\%\?\&]*)-(\w+)-([^\-\#\%\?\&]*).html$ index.php?do=$1&$2=$3&$4=$5&$6=$7&$8=$9&$10=$11
RewriteRule ^(\w+)-(\w+)-([^\-\#\%\?\&]*)-(\w+)-([^\-\#\%\?\&]*)-(\w+)-([^\-\#\%\?\&]*)-(\w+)-([^\-\#\%\?\&]*)-(\w+)-([^\-\#\%\?\&]*)-(\w+)-([^\-\#\%\?\&]*).html$ index.php?do=$1&$2=$3&$4=$5&$6=$7&$8=$9&$10=$11&$12=$13
RewriteRule ^(\w+)-(\w+)-([^\-\#\%\?\&]*)-(\w+)-([^\-\#\%\?\&]*)-(\w+)-([^\-\#\%\?\&]*)-(\w+)-([^\-\#\%\?\&]*)-(\w+)-([^\-\#\%\?\&]*)-(\w+)-([^\-\#\%\?\&]*)-(\w+)-([^\-\#\%\?\&]*).html$ index.php?do=$1&$2=$3&$4=$5&$6=$7&$8=$9&$10=$11&$12=$13&$14=$15
RewriteRule ^(\w+)-(\w+)-([^\-\#\%\?\&]*)-(\w+)-([^\-\#\%\?\&]*)-(\w+)-([^\-\#\%\?\&]*)-(\w+)-([^\-\#\%\?\&]*)-(\w+)-([^\-\#\%\?\&]*)-(\w+)-([^\-\#\%\?\&]*)-(\w+)-([^\-\#\%\?\&]*)-(\w+)-([^\-\#\%\?\&]*).html$ index.php?do=$1&$2=$3&$4=$5&$6=$7&$8=$9&$10=$11&$12=$13&$14=$15&$16=$17
